#canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.app-container {
    display: grid;
    grid-template-rows: [row-top] 80vh min-content min-content min-content [row-bottom];
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    &>* {
      padding: 2rem;
    }
  }
  
  .header-container {
    grid-column: full-start / full-end;
  }
  
  .body-container {
    grid-column: center-start / center-end;
    background-color: #f2f2f2;
    border-radius: 50px 50px 0px 0px;
  }
  
  .footer-container {
    grid-row: 4 / -1;
    grid-column: full-start / full-end;
    background-color: #333;
  }